html { background: #ffffff; }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  li {
    float: left;
  }

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .active {
    background-color: #000000;
  }
  body { background: rgb(255, 255, 255); }
  .wrapper { 
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 900px; 
    font-family: Arial, Helvetica, sans-serif; 
  }

h1 { 
    font-family: 'DM Serif Text', serif;
    text-align: center;
 }
p {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  width: 900px;
  text-align: center;
}
 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.video-title {
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}